torchvision==0.2.2
numpy==1.16.6
scipy>=1.4.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorboardX==1.8
pillow==6.2.0
tqdm==4.19.9
opencv-python==4.1.2.30
protobuf>=3.6.1
scikit-learn
matplotlib
pandas
tabulate
pydot
netron
graphviz
flashtorch
