[inputData]
data_channel=3

[convActivationBlock]
filters=64
size=3
stride=1
pad=1
activation=relu

[convActivationBlock]
filters=64
size=3
stride=1
pad=1
activation=relu

# Downsample
[maxpool]
size=2
stride=2

[convActivationBlock]
filters=128
size=3
stride=1
pad=1
activation=relu

[convActivationBlock]
filters=128
size=3
stride=1
pad=1
activation=relu

# Downsample
[maxpool]
size=2
stride=2

[convActivationBlock]
filters=256
size=3
stride=1
pad=1
activation=relu

[convActivationBlock]
filters=256
size=3
stride=1
pad=1
activation=relu

[convActivationBlock]
filters=256
size=3
stride=1
pad=1
activation=relu

[convActivationBlock]
filters=512
size=3
stride=1
pad=1
activation=relu

[dropout]
probability=0.5

[convActivationBlock]
filters=512
size=3
stride=1
pad=1
activation=relu

[dropout]
probability=0.5

[convActivationBlock]
filters=512
size=3
stride=1
pad=1
activation=relu

[dropout]
probability=0.5